<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Flask Starter App</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}" />

    {% block css %}{% endblock %}
  </head>
  <body>
    <header>{% include "header.html" %}</header>

    <main style="padding-top: 20px">
      <div class="container">
        {# Flash Message Display #} {% with messages =
        get_flashed_messages(with_categories=true) %} {% if messages %}
        <ul class="flashes" style="list-style: none; padding: 0">
          {% for category, message in messages %}
          <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %} {# Page Content #} {% block main %}{% endblock
        %}
      </div>
    </main>

    <footer>
      <div class="container">
        <hr />
        {% include "footer.html" %}
      </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
